<style> 
  .divbackground{
      background-color: blueviolet;
       border: 1px solid blue;
  }
  p{color: deeppink;}
  body{background-color: deepskyblue;}
  h1{color: dodgerblue;} 
</style>